@charset "UTF-8";

/*Paleta por:queen-of-the-mods \color.adobe.com */

body{
font-size: 12px;
font-family: 'Times New Roman', Times, serif;
background-image: linear-gradient(to top, #B33F00, #FF6B1A,#b33f00f4 );
background-attachment: fixed;
}
main{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 1%;
    width: 650px;
    margin: auto;
    box-shadow: 5px 4px 1px #b33f00c7;
}
h2{
    font-size: 20px;
    text-align: center;
    padding: 5px -2px ;
    color: #006663;
    text-shadow: 2px 1px 1px #ff6a1ac8;
}
h3{
    padding: 5px;
    color: #00b3ade1;
}
p{
   color: #662400; 
   text-align: justify;
   padding: 5px 15px;
}