@charset "UTF-8";

/*Mobile First*/

*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body{
    background-image: url(../imagens/back-phone.jpg);
    background-position: center;
    background-size: cover;
   
}

h1{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: underline 1px rgb(58, 3, 58);
    color: rgb(46, 247, 233);
    padding-top: 12px;
}

div{
    background-color: rgba(178, 174, 174, 0.618);
    margin: auto;
    width: 80%;
    box-shadow: 2px 4px 10px rgb(22, 22, 19);
    border-radius: 2%;
    margin-top: 2%;
}



img{
    display: block;
    margin: auto;
    width: 50%;
}

#multitarefa{ display: none; }
#portatil{display: block;}
#imprime{display: none;}
#touch{display: none;}
#tv{display: none;}

