@charset "UTF-8";

*{
    margin: 0%;
    padding: 0px;
}

body{
    /*Me inspirei em imagens que eu vi pela Internet de uma cor representando o lado da mulher e o outro lado representando uma cor para o homem. Também me inspirei em outras imagens que tinha uma cor bem clara entre duas cores*/
    background-image: linear-gradient(to right, rgba(223, 50, 165, 0.867) 20%,rgb(220, 213, 213) 50%, rgba(31, 143, 188, 0.916));
    background-attachment: fixed;
    height: 100vh;
}

header > h1{
    font-size: 2em;
    font-weight: 200;
    font-style: oblique;
    color: beige;
    text-shadow: 1px 1px 2px rgb(22, 23, 23);
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 3%;
}

#dados{
    background-color: white;
    width: 45%;
    height: 400px;
    padding: 1px;
    text-align: left;
    margin: auto;
    border-radius: 10px;
    border-color: rgba(2, 81, 81, 0.908);
    border-width: 2px;
    border-style: solid;
    cursor: context-menu;
}

#dados > .anos{
    display: inline-block;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(2, 81, 81);
    cursor: pointer;
    position: relative;
    top: 30pt;
}

#dados > #dia{
    width: 50px;
    border-color: rgba(2, 81, 81, 0.732);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: 17px;
    position: relative;
    top: 30pt;
}

#dados > #mês{
    width: 50px;
    border-color: rgba(2, 81, 81, 0.732);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: 17px;
    position: relative;
    top: 30pt;
}

#dados > #ano{
    width: 50px;
    border-color: rgba(2, 81, 81, 0.732);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: 17px;
    position: relative;
    top: 31pt;
}

#dados> #sexo{
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1em;
    font-weight: 500;
    color: rgba(144, 24, 14, 0.968);
    margin-left: 10%;
    position: relative;
    top: 45pt
}

.generos{
    font-size: 1em;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    
}

#feminino , #masculino{
    width: 10px;
    cursor: pointer;
}

h2{
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 81, 81);
    margin-top: 5px;
    text-align: center;
    position: relative;
    transform: translateY(55px)
}

#foto > button{
    text-align: center;
    width: 16%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
    transform: translate(270px, 75px);
    cursor: pointer;
    background-color: rgba(204, 191, 191, 0.944);
    border-color: black;
    border-style: solid;
}

footer{
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    text-align: center;
    color: rgba(206, 225, 241, 0.984);
    text-shadow: 1px 1px 2px black;
    position: relative;
    transform: translateY(50%);
}

.feminino , .masculino{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    bottom: 0px;
    transform: translateY(-25px);
    box-shadow: 1px 2px 15px rgb(175, 149, 153);
    animation-name: fotos;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes fotos{
    0%{
        transform: scale(70%);
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
        
    100%{
        transform: scale(100%);
        opacity: 90%;
        box-shadow: 1px 3px 14px rgb(45, 43, 48);
    }
}

.texto{
        font-size: 1.0em;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(2, 81, 81);
        margin-top: 0%;
        text-align: center;
        background-color: pink;
        width: 50%;
        padding: 5px;
        position: relative;
        left: 25%;
        bottom: 70px;
        opacity: 0%;
        animation-name: faixa;
        animation-duration: 1500ms;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-delay: 100ms;
        animation-fill-mode: both;
}
@keyframes faixa{
    0%{
        opacity: 0%;
     }
    30%{
        opacity: 10%;
    }
    50%{
        opacity: 25%;
    }
   100%{
        opacity: 100%;
        }
}

.faixa{
    font-size: 1.0em;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(2, 81, 81);
        margin-top: 0%;
        text-align: center;
        background-color: rgb(151, 196, 244);
        width: 50%;
        padding: 5px;
        position: relative;
        left: 25%;
        bottom: 70px;
        opacity: 0%;
        animation-name: faixa;
        animation-duration: 1500ms;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-delay: 100ms;
        animation-fill-mode: both;
}

#reinicio{
    color: rgba(243, 234, 234, 0.933);
    z-index: 1;
    background-color: rgba(68, 57, 57, 0.944);
    border-style: none;
}
