@charset "UTF - 8";

body{
    background-image: linear-gradient(to bottom, rgb(61, 1, 61), rgb(88, 1, 88),rgba(121, 1, 121, 0.919),rgba(128, 0, 128, 0.925),rgba(88, 2, 88, 0.804));
    background-attachment: fixed;
}

header{
    text-align: right;
    background-color: rgba(155, 242, 251, 0.327);
    margin: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
}
header >h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    text-decoration:overline rgb(245, 247, 247);
}

main{
background-color: rgba(1, 240, 204, 0.473);
margin: 50px;
margin-left: 90px;
margin-right: 310px;
padding-top: 25px;
padding-left: 50px;
padding-bottom: 45px;
justify-content: center;
display: inline-flexbox;
box-shadow: 5px 5px 6px 5px rgba(19, 19, 19, 0.416);
border-end-end-radius: 10% ;

}

.principal{
    text-align: justify; 
}

h3{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(245, 245, 220, 0.842);
    margin-left: 25px;
}

aside{
    margin-left: 70%;
    text-align: start;
    text-indent: 50px;
    padding-left: 50px;
    padding-right: 50px;

}
aisde >p{
    padding-left: 40px;
    padding-right: 40px;
}