@charset "UTF-08";

* { margin:0%; padding: 0px; box-sizing: border-box; }

html{
    width: 100vw; height: 100vh;
}

body{
   cursor: context-menu
}

header{
    display: flex; justify-content: space-between; align-items: center; flex-flow: row wrap; 
}

header > h1{
    padding: 10px 0px 10px 5px; flex: 0 0 100px;
}

header > nav{
    padding: 20px 50px 10px 5px; display: flex;
}

header > nav > a{
text-decoration: none; color: black; padding: 0px 4px;
}

header > nav > a:hover{
    background-image: linear-gradient(to right, rgb(240, 235, 235),rgb(128, 0, 11)); box-shadow: 2px 2px 10px grey;
    transition: 0.3s; border-radius: 3px;
}

header > nav > #kitten{
    flex: 0 0 100px;
}

header > nav > #bigcat{
    flex: 0 0 110px;
}

header > nav > #mylove{
    flex: 0 0 120px;
}

header > nav > #princess{
    flex: 0 0 110px;
}

header > nav > #badguy{
    flex: 0 0 100px;
}

header > nav > #goodguy{
    flex: 0 0 110px;
}

main{
    margin: 5% 2%;
}

main > div{
    display: flex; justify-content: flex-start; align-items: flex-start; flex-flow: column;
}

main > div >h2{
    padding: 10px 0px 15px 5px;
}

main > div > p{
    text-indent: 20px; letter-spacing: 2px; flex-shrink: 2; flex-grow: 0; flex-basis: 50%; border: 1px solid red; 
}

@media (max-width:600px) and (orientation:portrait){

body{
    background-color: green;
}

header > h1{
    flex-basis: 50px; text-align: center; padding-right: 20px; padding-left: 0px;
}

header{
    flex-flow: column nowrap;
}

header > nav{
    padding: 10px 0px; flex-flow: column nowrap;
}

header > nav > a:hover{
    background-image: none; box-shadow: none;
}

header > nav > #kitten{
    flex: 0 0 50px;
}

header > nav > #bigcat{
    flex: 0 0 55px;
}

header > nav > #mylove{
    flex: 0 0 60px;
}

header > nav > #princess{
    flex: 0 0 55px;
}

header > nav > #badguy{
    flex: 0 0 50px;
}

header > nav > #goodguy{
    flex: 0 0 55px;
}

}